.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    transition: 1s ease all;
    border-radius: 3px;
}

.modal-container {
    width: 500px;
    min-height: 50px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(23, 23, 23, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    animation-duration: 0.4s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
